<form method="POST">
  <div class="mb-3">
    <input name="email" type="email" placeholder="Email" class="form-control" id="exampleInputEmail1"
      aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <input name="pass" type="password" placeholder="Pass" class="form-control" id="exampleInputPassword1">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>